body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

header {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

#canva-section {
  margin: 20px;
  height: calc(
    75vh - 60px
  ); 
  width: calc(100% - 50px); /* Width of viewport minus some margin */
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 5px;
}

#canva {
  width: 100%;
  height: 100%;
  background-color: #fff; /* Fallback color if canvas isn't supported */
}

.reset-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 20px;
}

.reset-btn button {
  padding: 8px 20px;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid black;
}

.reset-btn button:hover {
  color: white;
  background-color: black;
}

.reset-btn #reset {
  margin-right: 30px;
}